*.pyc

.DS_Store
local_settings.py


*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

pip-log.txt

.coverage
.tox
nosetests.xml

*.mo

settings.py
*.html
*.sqlite3

test.db
sessions/
_build/
fabfile.py

views.py